/**
 * html5doctor.com Reset Stylesheet v1.6.1 (http://html5doctor.com/html-5-reset-stylesheet/)
 * Richard Clark (http://richclarkdesign.com)
 * http://cssreset.com
 */
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
   }
  
body {
    line-height:1;
}
article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}
nav ul {
    list-style:none;
}
blockquote, q {
    quotes:none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}
a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}
/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}
/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}
del {
    text-decoration: line-through;
}
abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}
table {
    border-collapse:collapse;
    border-spacing:0;
}
/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}
input, select {
    vertical-align:middle;
}




/*** Main Layout ***/

body {text-align: center; color: #fff; background: url(../img/background.jpg) top left;}

#wrapper {
	width: 960px;
	margin: 0 auto;
}
header {margin-bottom: 50px;}
article {width: 60%; float: left;}
.clear {clear: both;}

article {text-align: center;}

/*** END Main Layout ***/




/*** Header ***/
<<<<<<< HEAD
header
p {absolute:;
font-size: 25px;
color: black;
margin-bottom: 20px;
}
 h1 {
	border-style: solid;
	border-color:black;
	border-width:2px;
=======
header h1 {
	background: url(../img/logo.png);
	width:393px;
	height:267px;
>>>>>>> origin/master
	font-size: 70px;
	color: black;
	margin-bottom: 20px;
	font-weight: normal; /* Bold was too much! */
	margin-left: 250px
}
nav li{
	border-style: solid;
	border-color:black;
	border-width:2px;
	display: inline;
	margin-right: 75px;
	text-align:center;
	font-size: 35px;
	padding: 5px 20px;
	
}
nav li.last {margin-right: 0;}
nav a {
	color:black;
	text-decoration: none;
}
nav a:hover{
	color:black;
}





/*** END Header ***/




/*** Main Content ***/
article h2, article h3 {padding: 20px 0;}
article p {padding: 50px 0;}


article h2{font-size: 30px;
background: url(../img/Enchiladas.jpg) top left;
height: 270px;
width: 1150px;
border-style:solid;
border-width:2px;
border-color:#000;
}
article h3 {
	background: url(../img/specials.jpg) top left;
	width: 500px;
	height: 225px;
	border-style:solid;
	border-width:2px;
	border-color:#000;
	float:left
}
article h4 {
	background: url(../img/events.jpg) top right;
	height: 249px;
	width: 579px
	border-style:solid;
	border-width:2px;
	border-color:#000;
	float: none
}




/*** END Main Content ***/




/*** Sidebar and Footer ***/
footer { padding-top: 25px; text-align: left; }




/*** END Sidebar and Footer ***/